/* base style */

body {
    margin: 0px;
    padding: 0px;
    font-family: 'PT Sans', sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: auto;
}

:root {
    --mainColor: #765244;
    --subColor: #333;
}

/* general purpose styles */

.list-unstyled {
    list-style: none;
}

/* general Items */

/* start header */

header {
    padding-top: 20px;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-content img {
    flex: 1;
    max-width: 170px;
}

.header-content nav {
    flex: 3;
}

.header-content .login {
    flex: 1;
    text-align: right;
    padding: 10px;
}

header .header-content nav ul {
    text-align: center;
}

.header-content ul li {
    display: inline-block;
}

.header-content ul li, .header-content ul li, a {
    color: var(--subColor);
}

header .header-content nav ul li .link {
    position: relative;
    display: block;
    padding: 10px 25px;
    font-weight: bold;
}

header .header-content nav ul li .link::before {
    content: '';
    position: absolute;
    border-width: 0 2px;
    height: 100%;
    width: 98%;
    ;
    border-color: var(--mainColor);
    border-style: solid;
    top: 0;
    left: 0;
    transform: scale3d(1, 0, 1);
    transition: transform .5s;
}

header .header-content nav ul li .link:hover:before {
    transform: scale3d(1, 1, 1);
}

header .header-content nav ul li .link::after {
    content: '';
    position: absolute;
    border-width: 2px 0;
    height: 91%;
    width: 100%;
    ;
    border-color: var(--mainColor);
    border-style: solid;
    top: 0;
    left: 0;
    transform: scale3d(0, 1, 1);
    transition: transform .5s;
}

header .header-content nav ul li .link:hover:after {
    transform: scale3d(1, 1, 1);
}

header .header-content .login li:last-child i {
    position: relative;
}

header .header-content .login li:last-child i::after {
    position: absolute;
    margin-right: 20px;
    content: "0";
    font-size: 13px;
    color: white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    bottom: 0;
    left: 0px;
    padding: 4px;
    background: var(--mainColor);
}

/* end header */

/* start slider */

.slider {}

.slider img {
    width: 100%;
}

/* end slider */